<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ativas Order</title>
    <style>
        body {
            background-color: #f1f3f6;
            font-family: Arial, Helvetica, sans-serif;
        }

        .mainOrder {
            display: flex;
            width: 84%;
            margin: auto;
            padding: 20px 0;
        }

        .diffActivity {
            width: 70%;
            background-color: #f1f3f6;
            margin-left: auto;
            margin-top: 14px;
            margin-bottom: 7px;
            padding: 20px;
        }

        .paymentDetails {
            width: 25%;
            background-color: white;
            margin-right: auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .heading {
            width: 93.6%;
            margin: 20px auto;
            height: 45px;
            background-color: #186aee;
            color: white;
            font-size: 18px;
            display: flex;
            align-items: center;
            padding-left: 50px;
        }

        .custom-span {
            width: 20px;
            height: 18px;
            font-size: 15px;
            text-align: center;
            color: #186aee;
            background-color: white;
            display: inline-block;
            margin-right: 20px;
            border-radius: 2px;
        }

        .userDetails {
            width: 60%;
            margin-bottom: 20px;
            line-height: 1.5;
        }

        .userDetails span {
            font-weight: bold;
        }

        .logoutLink {
            color: #186aee;
            text-decoration: none;
            font-size: 14px;

        }


        .checkoutButton {
            background-color: #ff7f00;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            position: relative;
            bottom: 5px;
            margin: 20px 25px;
            display: block;
            width: fit-content;
        }



        .checkoutButton:hover {
            background-color: #e66c00;
        }

        .note {
            margin-top: 20px;
            padding-bottom: 20px;
            font-size: 14px;
            color: #555;
        }

        .advantages {
            width: 40%;
            font-size: 12px;
            margin-top: 15px;
            line-height: 1.8;
            color: grey;
        }

        .advantages .advantage {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            font-size: 12px;
            color: black;
        }

        p {
            margin-left: 25px;
            margin-top: 5px;
        }

        a {
            text-decoration: none;
            margin-left: 25px;
            margin-top: 5px;
        }

        .advantages .icon {
            color: #186aee;
            font-size: 16px;
            margin-right: 10px;
        }

        .login-container,
        .deliveryAddress-container {
            width: 96%;
            margin: 20px auto;
            background-color: white;
            padding: 15px 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .login-left {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .step-number {
            width: 30px;
            height: 30px;
            background-color: #e6e7eb;
            color: #186aee;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }

        .login-text {
            font-size: 14px;
            color: #000;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .login-text .checkmark {
            color: #186aee;
            font-size: 16px;
        }

        .user-details {
            font-size: 14px;
            color: #000;
            margin-top: 5px;
        }

        .user-details span {
            font-weight: bold;
        }

        .login,
        .deliveryAddress {
            width: 100%;
            margin: 20px auto;
            background-color: white;
        }

        .changeLogin,
        .changeDeliveryAddress {
            font-size: 14px;
            color: #186aee;
            font-weight: bold;
            border: 1px solid #186aee;
            padding: 5px 10px;
            cursor: pointer;
            background-color: white;
        }

        .inputField {
            width: 220px;
            height: 25px;
            margin: 10px 30px 10px 30px;
            border: 1px solid gray;
            padding: 5px 10px;
            background-color: white;
            position: relative;
        }

        .inputField .placeholder {
            position: absolute;
            top: 5px;
            left: 10px;
            font-size: 10px;
            color: gray;
        }

        .inputField input {
            position: absolute;
            bottom: 5px;
            left: 10px;
            width: calc(100% - 20px);
            height: 25px;
            font-size: 14px;
            border: none;
            outline: none;
            background-color: transparent;
            color: black;
        }
    </style>
</head>

<body>
    <div class="mainOrder">
        <div class="diffActivity">

        </div>
        <div class="paymentDetails">
        </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    let orderContainer = document.querySelector('.diffActivity');

    function addLoginSection() {
        let newLogin = document.createElement('div');
        newLogin.classList.add('login');
        newLogin.innerHTML = `
        <div class="login-container">
            <div class="login-left">
                <div class="step-number">1</div>
                <div>
                    <div class="login-text">LOGIN <span class="checkmark">✔</span></div>
                    <div class="user-details"><span>Ankit Kumar </span> +919162893978</div>
                </div>
            </div>
            <button class="changeLogin">CHANGE</button>
        </div>
    `;

        orderContainer.appendChild(newLogin);

        newLogin.querySelector('.changeLogin').addEventListener('click', () => {
            newLogin.innerHTML = `
            <div class="heading"><span class="custom-span">1</span>LOGIN</div>
            <div style="display: flex;">
                <div class="userDetails">
                    <p style="color: grey;">Name <span style="color: black; font-size: 15px; margin-left: 15px;">Ankit Kumar</span></p>
                    <p style="color: grey;">Phone<span style="color: black; font-size: 15px; margin-left: 15px;">+919162893978</span></p>
                    <a href="/auth/login" class="logoutLink">Logout & Sign in to another account</a>
                    <button class="checkoutButton">CONTINUE CHECKOUT</button>
                </div>
                <div class="advantages">
                    <h3>Advantages of our secure login</h3>
                    <div class="advantage">
                        <span class="icon">🚚</span> Easily Track Orders, Hassle-free Returns
                    </div>
                    <div class="advantage">
                        <span class="icon">🔔</span> Get Relevant Alerts and Recommendations
                    </div>
                    <div class="advantage">
                        <span class="icon">⭐</span> Wishlist, Reviews, Ratings, and more.
                    </div>
                </div>
            </div>
            <p class="note">Please note that upon clicking "Logout" you will lose all items in cart and will be redirected to the home page.</p>`;
        });
    }

    function addDeliveryAddressSection() {
        let newDeliveryAddress = document.createElement('div');
        newDeliveryAddress.classList.add('deliveryAddress');
        newDeliveryAddress.innerHTML = `
        <div class="deliveryAddress-container">
            <div class="login-left">
                <div class="step-number">2</div>
                <div>
                    <div class="login-text">DELIVERY ADDRESS <span class="checkmark">✔</span></div>
                    <div class="user-details"><span>Ankit Kumar </span></div>
                </div>
            </div>
            <button class="changeDeliveryAddress">CHANGE</button>
        </div>
    `;

        orderContainer.appendChild(newDeliveryAddress);

        newDeliveryAddress.querySelector('.changeDeliveryAddress').addEventListener('click', () => {
            newDeliveryAddress.innerHTML = `
            <div class="heading"><span class="custom-span">2</span>DELIVERY ADDRESS</div>
            <button id="editAddress" class="editButton" style="position: relative; left:85%; top: 10px; color: blue; border: none; padding: 5px 10px; cursor: pointer;">EDIT</button>
            <div class="userDetails">
                <p style="color: grey; margin-left: 25px; font-size:10px;">
                    <span style="color: black; font-size: 13px;">Ankit Kumar</span>
                </p>
                <p style="color: grey; margin-left: 25px; font-size:10px;">
                    <span style="color: black; font-size: 13px;">IIT Goa Hostel, B1-102, IIT Goa hostel premise, Bandora, Goa - 403401</span>
                </p>
                <button class="checkoutButton" id="saveAndContinue">SAVE & CONTINUE</button>
            </div>`;

            const editAddressButton = newDeliveryAddress.querySelector('#editAddress');
            if (editAddressButton) {
                editAddressButton.addEventListener('click', () => {
                    newDeliveryAddress.innerHTML = `
                    <div class="heading"><span class="custom-span">2</span>EDIT DELIVERY ADDRESS</div>
                    <form action="/editAddress" method="post" id="editAddressForm" style="margin-left: 25px;">
                        <div style="display:flex; ">
                                <div class="inputField" onclick="document.getElementById('userName').focus()">
                                    <label for="userName" class="placeholder">Name</label>
                                    <input type="text" id="userName">
                                </div>
                                <div class="inputField" onclick="document.getElementById('mobileNo').focus()">
                                    <label for="mobileNo" class="placeholder">10-digit mobile number</label>
                                    <input type="text" id="mobileNo">
                                </div>
                        </div>
                        <div style="display:flex; ">
                                <div class="inputField" onclick="document.getElementById('pincode').focus()">
                                    <label for="pincode" class="placeholder">Pincode</label>
                                    <input type="text" id="pincode">
                                </div>
                                <div class="inputField" onclick="document.getElementById('locality').focus()">
                                    <label for="locality" class="placeholder">Locality</label>
                                    <input type="text" id="locality">
                                </div>
                        </div>
                                <div class="inputField" onclick="document.getElementById('address').focus()" style="width:68%">
                                    <label for="address" class="placeholder">Address (Area and Street)</label>
                                    <input type="text" id="address" style="width:100%;height:100%;">
                                </div>
                                                   
                        
                        <div style="display:flex; ">
                                <div class="inputField" onclick="document.getElementById('city').focus()">
                                    <label for="city" class="placeholder">City/Address/Town</label>
                                    <input type="text" id="city">
                                </div>
                                <div class="inputField" onclick="document.getElementById('state').focus()">
                                    <label for="state" class="placeholder">State</label>
                                    <input type="text" id="state">
                                </div>
                        </div>
                        <div style="display:flex; ">
                                <div class="inputField" onclick="document.getElementById('landmark').focus()">
                                    <label for="landmark" class="placeholder">Landmark (optional)</label>
                                    <input type="text" id="landmark">
                                </div>
                                <div class="inputField" onclick="document.getElementById('alternateMobileNo').focus()">
                                    <label for="alternateMobileNo" class="placeholder">Alternate Phone No (optional)</label>
                                    <input type="text" id="alternateMobileNo">
                                </div>
                        </div>
                        
                        
                        <button type="submit" class="checkoutButton">SAVE ADDRESS</button>
                    </form>`;

                    const editAddressForm = newDeliveryAddress.querySelector('#editAddressForm');
                    if (editAddressForm) {
                        editAddressForm.addEventListener('submit', (event) => {
                            event.preventDefault();
                            const name = editAddressForm.querySelector('#name').value;
                            const address = editAddressForm.querySelector('#address').value;
                            newDeliveryAddress.innerHTML = `
                            <div class="deliveryAddress-container">
                                <div class="login-left">
                                    <div class="step-number">2</div>
                                    <div>
                                        <div class="login-text">DELIVERY ADDRESS <span class="checkmark">✔</span></div>
                                        <div class="user-details"><span>${name} </span></div>
                                        <div class="user-details"><span>${address} </span></div>
                                    </div>
                                </div>
                                <button class="changeDeliveryAddress">CHANGE</button>
                            </div>`;
                        });
                    }
                });
            }

            const saveAndContinueButton = newDeliveryAddress.querySelector('#saveAndContinue');
            if (saveAndContinueButton) {
                saveAndContinueButton.addEventListener('click', () => {
                    newDeliveryAddress.innerHTML = `
                <div class="deliveryAddress-container">
                    <div class="login-left">
                        <div class="step-number">2</div>
                        <div>
                            <div class="login-text">DELIVERY ADDRESS <span class="checkmark">✔</span></div>
                            <div class="user-details"><span>Ankit Kumar </span></div>
                        </div>
                    </div>
                    <button class="changeDeliveryAddress">CHANGE</button>
                </div>
                `;
                });
            }
        });
    }

    addLoginSection();
    addDeliveryAddressSection();

    document.querySelector('.mainOrder').addEventListener('click', function (e) {
        if (e.target.classList.contains('addLogin')) {
            addLoginSection();
        } else if (e.target.classList.contains('addDeliveryAddress')) {
            addDeliveryAddressSection();
        }
    });
});


</script>
</body>
</html>