<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>side bar</title>
    <style>
        .sidebar {
            margin: 5px;
            width: 17vw;
            border: 1px solid grey;
        }

        hr {
            margin-top: 10px;
            color: rgb(255, 255, 255);
        }

        select {
            width: 80px;
        }
        @media (max-width: 768px) {
            .sidebar {
                width: 100%;
                margin: 0;
                border: none;
            }

            .sidebar h2 {
                font-size: 18px;
            }

            .sidebar strong {
                font-size: 12px;
            }

            .sidebar select {
                width: 100%;
            }

            .sidebar div {
                flex-direction: column;
                align-items: flex-start;
            }

            .sidebar div select {
                margin-bottom: 10px;
            }
        }
    </style>
</head>

<body>

    <div class="sidebar">
        <h2 style="font-size: 20px; font: bold;padding: 7px;">Filters</h2>
        <hr>
        <strong style="margin: 10px; font-size: 14px; display: block;">CATEGORIES</strong>
        <strong style="margin-left: 40px; font-size: 18px;">
            <%=categoryProduct[0].category%>
        </strong>
        <hr>
        <strong style="margin: 10px; font-size: 14px; display: block;">PRICE</strong>
        <div style="display: flex; justify-content: space-evenly;">
            <select name="min" id="min">
                <option value="0">Min</option>
                <option value="10000">10000</option>
                <option value="20000">20000</option>
                <option value="30000">30000</option>
            </select>
            <div>To</div>
            <select name="max" id="max">
                <option value="10000">10000</option>
                <option value="15000">15000</option>
                <option value="20000">20000</option>
                <option value="30000">30000</option>
                <option value="35000+">35000+</option>
            </select>
        </div>
        <hr>
        <strong style="margin: 10px; font-size: 14px; display: block;">BRAND</strong>
        <div style="padding-left: 10px;"><input type="checkbox" id="ativasAssured" style="margin-top: 15px;"> <strong
                style="font-size: 20px;"><i style="color: blue;">Ativas Assured</i></strong></div>
        <hr>
        <strong style="margin: 10px; font-size: 14px; display: block;">CUSTOMER RATINGS</strong>
        <div style="padding-left: 10px;"><input type="checkbox" id="4andAboveRating" style="margin-top: 15px;"> 4 <i
                class="fa-solid fa-star" style="font-size: 12px;"></i> & above </div>
        <div style="padding-left: 10px;"><input type="checkbox" id="3andAboveRating" style="margin-top: 15px;"> 3 <i
                class="fa-solid fa-star" style="font-size: 12px;"></i> & above </div>
        <hr>

        <strong style="margin: 10px; font-size: 14px; display: block;">OFFERS</strong>
        <% offerList.forEach((offer)=>{%>
            <div style="padding-left: 10px;"><input type="checkbox" id="<%=offer%>" style="margin-top: 15px;">
                <%=offer%>
            </div>
            <%})%>
                <hr>

                <strong style="margin: 10px; font-size: 14px; display: block;">AVAILABILITY</strong>
                <div style="padding-left: 10px;"><input type="checkbox" id="excludeOutOfStock"
                        style="margin-top: 15px;"> Exclude Out Of Stock</div>
                <hr>

                <strong style="margin: 10px; font-size: 14px; display: block;">DISCOUNT</strong>
                <div style="padding-left: 10px;"><input type="checkbox" id="40PercentOrMoreDiscount"
                        style="margin-top: 15px;"> 40% or more</div>
                <div style="padding-left: 10px;"><input type="checkbox" id="30PercentOrMoreDiscount"
                        style="margin-top: 15px;"> 30% or more</div>
                <div style="padding-left: 10px;"><input type="checkbox" id="20PercentOrMoreDiscount"
                        style="margin-top: 15px;"> 20% or more</div>
                <div style="padding-left: 10px;"><input type="checkbox" id="10PercentOrMoreDiscount"
                        style="margin-top: 15px;"> 10% or more</div>
                <hr>
    </div>
    <script>
        const checkboxes = document.querySelectorAll('[type="checkbox"]');
        const url = new URL(window.location.href);
        const params = url.searchParams;
        
        checkboxes.forEach((checkbox)=>{
            if (localStorage.getItem(checkbox.id)==='true'){
                checkbox.checked=true;
            }
            checkbox.addEventListener('change',()=>{
                localStorage.setItem(checkbox.id,checkbox.checked);
            })
        })
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', () => {
                if (checkbox.checked) {
                    params.set(checkbox.id, 'true');
                } else {
                    params.delete(checkbox.id);
                }
                // console.log(url)
                window.history.replaceState({}, '', `${url.pathname}?${params.toString()}`);
                window.location.reload();
            });
        });
        const minSelect = document.querySelector('#min');
        const maxSelect = document.querySelector('#max');

        minSelect.value=localStorage.getItem('min')||minSelect.value;
        maxSelect.value=localStorage.getItem('max')||maxSelect.value;



        [minSelect, maxSelect].forEach((select) => {
            select.addEventListener('change', () => {

                localStorage.setItem(select.name, select.value);

                const min = minSelect.value !== '0' ? minSelect.value : '0'; 
                const max = maxSelect.value !== '35000+' ? maxSelect.value : null;

                if (min) params.set('min', min);
                else params.delete('min');

                if (max) params.set('max', max);
                else params.delete('max');

                window.history.replaceState({}, '', `${url.pathname}?${params.toString()}`);
                window.location.reload();
            });
        });
        
    </script>




</body>

</html>
